ng-form(name="conferenceConfigForm")
  .form-title
  .row.flex-vertical-centered
    .col-xs-6
      esn-form-group(label=__('Jitsi HTTP URL'), form="conferenceConfigForm")
        input.form-control(type="url", ng-model="$ctrl.configurations.jitsiInstanceUrl.value", name="jitsiInstanceUrl", required)
    .col-xs-6
      esn-form-group(label=__('Conference application URL'), form="conferenceConfigForm")
        input.form-control(type="url", ng-model="$ctrl.configurations.openPaasVideoconferenceAppUrl.value", name="openPaasVideoconferenceAppUrl", required)
        